<div>
  <p class="text-center"><%= 'Hello, I am your stupid coach and I am here to help you in the most disgraceful and disgusting way possible :D'%></p>

  <form action="answer" data-turbo="false" class="form text-center">
    <input type="text" name="question">
    <button type="submit" class="btn btn-primary mb-1">Ask!</button>
  </form>
</div>
