/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("https://www.canstockphoto.com/zoom/?height=398.666666&width=598.666666&id=76199305&_ts=1684751383951&scale=2.6726057936220555&left=541&top=175");
  background-size: cover;
}

.coach-begin{
  background-color: rgba(255, 255, 255, 0.556);
}

 .question {
  padding: 10px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.556);
 }

 .answer{
  background-color: rgba(255, 255, 23, 0.355);
  padding: 20px;
  margin: 30px;
 }
